
.admin-login-title {
    margin-bottom: 30px;
}

.admin-login-field-spacer {
    margin-bottom: 10px;
}

.admin-login-fields {
    text-align: left;
}

.admin-login-menu-container {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(65deg, rgba(41, 52, 196, 0.8), rgba(78, 120, 217, 0.8) 40%, rgba(41, 137, 196, 0.8));
}

@media screen and (min-width: 600px) {
    .admin-login-menu-container {
        padding: 5rem;
        border: 1px solid white;
        border-radius: 10px;
        margin: 0.5rem;
        width: 200px;
    }
}

/* Individual button styling */
.admin-login-menu-submit-button {
    background-color: transparent; /* Transparent background */
    border: 2px solid transparent; /* Set the initial border to transparent */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding */
    text-align: center; /* Text alignment */
    text-decoration: none; /* Text decoration */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor style */
    border-radius: 5px; /* Border radius */
    margin: 0 5px; /* Margin */
    margin-top: 20px;
  }
  
  /* Button hover state */
  .admin-login-menu-submit-button:hover {
    border-color: white; /* Change border color on hover */
    background-color: rgba(255, 255, 255, 0.3); /* Transparent white background on hover */
  }