.PopUpTitle {
    margin-bottom: 20px;
}

.PopUpTextSettings ul{
    list-style-type: none;
    padding-left: 0;
}

.PopUpText ul {
    list-style-type:circle;
    padding-left: 0;
}

.PopUpText ul ul {
    padding-left: 20px; /* Adjust the indentation for the second level */
    list-style-type: square;
}

.PopUpText, .PopUpTextSettings li {
    text-align: left;   
}

.PopUpButton {
    border: 2px solid transparent; /* Set the initial border to transparent */
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    width: 200px;
    cursor: pointer;
    color: #14228c;
    font-size: medium;
    font-weight: bold;
    align-self: center;
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
}
  
.PopUpButton:hover {
    border-color: #14228c; /* Dark outline color on hover */
}
  
.PopUpButton:disabled {
    background-color: #ccc; 
    color: #999;
    cursor: not-allowed; 
}